*.a
*.o
.project
INSTALL.txt2
Makefile
autom4te.cache
conf.h
config.cache
config.log
config.status
configure.lineno
dmalloc
dmalloc.h
dmalloc.h.2
dmalloc.head
dmalloc.html2
dmalloc.info
dmalloc_fc_t
dmalloc_t
dmalloc_toc.html
settings.h
version.h
