# config file for circleci
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/buildpack-deps:stable
    steps:
      - checkout
      - run:
          name: configure
          command: ./configure
      - run:
          name: make
          command: make clean all tests
      - run:
          name: run utility
          command: ./dmalloc
      - run:
          name: run tests
          command: make light heavy
      - run:
          name: make distclean
          command: make distclean
      - run:
          name: configure in subdir
          command: mkdir x ; cd x ; ../configure
      - run:
          name: run utility in subdir
          command: cd x ; ./dmalloc
      - run:
          name: run tests in subdir
          command: cd x ; make light heavy
