# config file for circleci
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/buildpack-deps:stable
    steps:
      - checkout
      - run:
          name: install packages
          command: sudo apt-get install texinfo texi2html
      - run:
          name: configure
          command: ./configure --prefix /tmp
      - run:
          name: make
          command: make clean all threads cxx threadscxx
      - run:
          name: run utility
          command: ./dmalloc
      - run:
          name: run tests
          command: make tests
      - run:
          name: make installdocs
          command: make installdocs
      - run:
          name: make distclean
          command: make distclean
      - run:
          name: configure in subdir
          command: mkdir x ; cd x ; ../configure --prefix /tmp
      - run:
          name: make in subdir
          command: cd x ; make clean all threads cxx threadscxx
      - run:
          name: run utility in subdir
          command: cd x ; ./dmalloc
      - run:
          name: run tests in subdir
          command: cd x ; make tests
      - run:
          name: make installdocs in subdir
          command: cd x ; make installdocs
